doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/chart.css')
        script(type='text/javascript', src='/javascripts/jquery-1.11.1.min.js')
        script(type='text/javascript', src='/javascripts/Chart.min.js')
        script(type='text/javascript', src='/javascripts/ChartPage.js')
    body
        h1 Welcome!