doctype html
html
  head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      include script
  body
      block content
        h1 Welcome to DashBoard
        a(href='/chart') chart
